@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Parisienne|Tangerine');
html{
	/*font-family: 'Parisienne', cursive;*/
	/*font-size: 20px;*/
}
#heroImage.parallax-container {
	height: 100vh;
}

#bottomParallax.parallax-container {
	height: 100vh;
}
.brand-logo{
	margin-left: .5em;
	/*font-family: 'Tangerine', cursive;*/
	font-family: 'Parisienne', cursive;
	font-size: 50px;
	letter-spacing: .12em;
	/*font-family: 'Nothing You Could Do', cursive;*/
}
.search-bar {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-wrapper{
	background-color: #3B3939;
}
.darken-1{
	background-color: #3B3939;
	opacity: .8;
}
.page-footer{
	background-color: #3B3939;
}

.search-label{
	padding-left: 1em;
}
.search{
	padding-left: 1em;
	padding-bottom: 1em;
	color: black;
	background-color: #3B3939;

}
.activator{
	/*max-height: 400px;*/
	height: 400px;
	width: 100%;
	overflow: hidden;
	object-fit: cover;

	/*min-height: 400px;*/
}
.container{
	padding-bottom: 1em;
}
.pagination{
	float: right;
}
.card-panel{
	/*display: flex;*/
	background-color: #3B3939;
	opacity: .9;
	float: right;
}
#advanced-search-button{
	margin-right: 1em;
	padding-bottom: 1em;
	background-color: #3B3939;
}
#search-button{
	background-color: #3B3939
}

/*.card {
	margin: 1em;
}*/

/*body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}*/

/*CHANGING COLOR FOR INPUT FORMS */


/* label color */
	.input-field label {
		color: #ffffff;
	}
	/* label focus color */
	.input-field input[type=text]:focus + label {
		color: #ffffff;
	}
	/* label underline focus color */
	.input-field input[type=text]:focus {
		border-bottom: 1px solid #ffffff;
		box-shadow: 0 1px 0 0 #ffffff;
	}
	/* valid color */
	.input-field input[type=text].valid {
		border-bottom: 1px solid #ffffff;
		box-shadow: 0 1px 0 0 #ffffff;
	}
	/* invalid color */
	.input-field input[type=text].invalid {
		border-bottom: 1px solid #ffffff;
		box-shadow: 0 1px 0 0 #ffffff;
	}
	/* icon prefix focus color */
	.input-field .prefix.active {
		color: #ffffff;
	}
	font-family: 'Tangerine', cursive;
	font-family: 'Nothing You Could Do', cursive;
